/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/src
/docs-dist
/.husky
/docs
# misc
.DS_Store
/coverage

# umi
.umi
.umi-production
.umi-test
.env.local
/es
/lib/setupTests.*
/lib/index.js
# ide
/.vscode
/.idea
.npmignore
.gitignore
.editorconfig
.fatherrc.ts
.prettierrc.js
.prettierignore
.umirc.ts
commitlint.config.js
tsconfig.json
