@mixin button-size($padding-y,$padding-x,$font-size,$border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style($background,$border,$color,
$hover-background:lighten($background,7.5%),
$hover-color:$color,
$hover-border:lighten($color,10%)) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover {
    background-color: $hover-background;
    color: $hover-color;
    border-color: $hover-border;
  }
  &:focus, &.focus {
    background-color: $hover-background;
    color: $hover-color;
    border-color: $hover-border;
  }
  &:disabled, &.disabled{
    background-color: $background;
    border-color: $border;
    color: $color;
  }
}
